body{
    margin: 0;
    background: var(---cor--background);
    max-width: 840px;
    max-height: 651px;
    box-sizing: border-box;
}

:root{
    ---fonte--popins: 'Poppins', sans-serif;
    ---cor--cinza: #716F6F;
    ---cor--preto: #151515;
    ---cor--roxo: #854DFF;
    ---cor--background :#F0F0F0;
    ---cor--branco: #FFFFFF;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container-conteudo{
    background: var(---cor--branco);
    border-radius: 24px 24px 200px 24px;
    padding: 56px;
}

.secao--entrada--de--dados{
    display: flex;
    flex-direction: column;
}

.entrada--dados{
    display: flex;
    justify-content: flex-start;
}

.entrada--dados--caixa{
    margin: 8px 32px 0 0;
    display: flex;
    flex-direction: column;
    width: 22%;
}

.input{
    padding: 12px 24px;
    border: 1px solid #DCDCDC;
    border-radius: 8px;
}

.desabilitado{
    padding: 12px 24px;
    border: 1px solid #FF0000;
    border-radius: 8px;
}

.label{
    font-family: var(---fonte--popins);
    font-weight: 700;
    font-size: 14px;
    color: var(---cor--cinza);
}

.secao--saida--de--dados{
    display: flex;
    flex-direction: column;
}

.processa--dados{
    display: flex;
    flex-direction: row;
}

.button{
    background: var(---cor--roxo);
    border: none; 
    border-radius: 216px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-button{
    padding: 26px;
}

.secao--saida--de--dados{
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.saida--dados{
    display: flex;
}

.numero{
    font-family: var(---fonte--popins);
    font-weight: 800;
    font-size: 104px;
    color: var(---cor--roxo);
    margin: 0;
}

.texto{
    font-family: var(---fonte--popins);
    font-weight: 800;
    font-size: 104px;
    margin: 0;
    color: var(---cor--preto);
}

@media (max-width : 900px){
    body{
        max-width: 420px;
        max-height: 325.5px;
    }

    .container-conteudo{
        display: flex;
        flex-direction: column;
        max-width: 420px;
        max-height: 325.5px;
        border-radius: 12px 12px 100px 12px;
        padding: 28px;    
    }

    .entrada--dados--caixa{
        margin: 4px 16px 0 0;
        display: flex;
        flex-direction: column;
        width: 11%;
    }
    
    .input{
        padding: 6px 12px;
        border: 0.5px solid #DCDCDC;
        border-radius: 4px;
    }
    
    .desabilitado{
        padding: 6px 12px;
        border: 0.5px solid #FF0000;
        border-radius: 4px;
    }
    
    .label{
        font-family: var(---fonte--popins);
        font-weight: 700;
        font-size: 7px;
        color: var(---cor--cinza);
    }
    .button{
        background: var(---cor--roxo);
        border: none; 
        border-radius: 108px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
    
    .img-button{
        padding: 13px;
        width: 22px ;
    }
    
    .secao--saida--de--dados{
        display: flex;
        flex-direction: column;
        gap: 4.5px;
    }
    
    .numero{
        font-family: var(---fonte--popins);
        font-weight: 800;
        font-size: 52px;
        color: var(---cor--roxo);
        margin: 0;
    }
    
    .texto{
        font-family: var(---fonte--popins);
        font-weight: 800;
        font-size: 52px;
        margin: 0;
        color: var(---cor--preto);
    }

    .img-responsiva{
        max-width: 316px;
    }
}

@media (max-width : 490px){
    body{
        max-width: 260px;
        max-height: 213px;
    }

    .container-conteudo{
        display: flex;
        flex-direction: column;
        max-width: 300px;
        max-height: 213px;
        border-radius: 6px 6px 50px 6px;
        padding: 14px;    
    }

    .entrada--dados--caixa{
        margin: 2px 8px 0 0;
        display: flex;
        flex-direction: column;
        width: 20%;
    }
    
    .input{
        padding: 3px 6px;
        border: 0.25px solid #DCDCDC;
        border-radius: 2px;
    }
    
    .desabilitado{
        padding: 3px 6px;
        border: 0.25px solid #FF0000;
        border-radius: 2px;
    }
    
    .label{
        font-family: var(---fonte--popins);
        font-weight: 700;
        font-size: 6px;
        color: var(---cor--cinza);
    }
    .button{
        background: var(---cor--roxo);
        border: none; 
        border-radius: 54px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    }
    
    .img-button{
        padding: 7px;
        width: 11px ;
    }
    
    .secao--saida--de--dados{
        display: flex;
        flex-direction: column;
        gap: 2.25px;
    }
    
    .numero{
        font-family: var(---fonte--popins);
        font-weight: 800;
        font-size: 26px;
        color: var(---cor--roxo);
        margin: 0;
    }
    
    .texto{
        font-family: var(---fonte--popins);
        font-weight: 800;
        font-size: 26px;
        margin: 0;
        color: var(---cor--preto);
    }

    .img-responsiva{
        max-width: 240px;
    }
}